<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boox Exchange System</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <h1>Header</h1>
        
    </header>
    <nav>
        <p>Nav Menu</p>
    </nav>
    <main>
        <aside>Side Bar</aside>
        <article>
            <section> Section1 </section>
            <section> Section2 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section1 </section>
            <section> Section2 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section1 </section>
            <section> Section2 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section1 </section>
            <section> Section2 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section4 </section>
            <section> Section3 </section>
            <section> Section4 </section>
            <section> Section4 </section>
            <section> Section3 </section>
            <section> Section4 </section>
        </article>
    </main>

    <footer>footer </footer>
</body>

</html>