<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - Book Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <!--Sidebar Start -->
    <div id="sidebar">
      <div class="sidebar-logo d-flex justify-content-between">
        <!--Sidebar Logo and Title -->
        <a href="#" class="header-logo">
          <i class="fas fa-book-reader fa-2x"></i>
          <div class="logo-title">
            <span class="text-primary text-uppercase">Book Store</span>
          </div>
        </a>
        <!--Sidebar Wrapper Menu Button -->
        <div class="menu-bt-sidebar">
          <div class="menu-bt align-self-center">
            <div class="wrapper-menu">
              <div class="main-circle">
                <i class="fas fa-bars"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Sidebar Nav-->
      <div id="sidebar-content" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <nav class="sidebar-menu">
          <ul id="sidebar-toggle" class="iq-menu">
            <li class="sidebar-item active"><a href="#"><i class="fas fa-home"></i>Home Page</a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-th-large"></i>Category Page</a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-book"></i>Book Page</a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-file-pdf"></i>Book PDF</a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-shopping-basket"></i>Checkout</a></li>
            <li class="sidebar-item"><a href="#"><i class="fas fa-heart"></i>Wishlist</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Sidebar End-->
    <!-- Navbar Start-->
    <div id="navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="menu-bt d-flex align-items-center">
          <!--Navbar Wrapper Menu -->
          <div class="wrapper-menu">
            <div class="main-circle">
              <i class="fas fa-bars"></i>
            </div>
          </div>
          <!--Navbar Title and Logo -->
          <div class="navbar-logo d-flex justify-content-between">
            <a href="#" class="header-logo">
              <i class="fas fa-book-reader fa-2x"></i>
              <div class="logo-title">
                <span class="text-primary text-uppercase">Book Store</span>
              </div>
            </a>
          </div>
        </div>
        <!--Search bar-->
        <div id="search-bar" class="search-bar">
          <form action="#" class="searchbox">
            <input type="text" class="text search-input" placeholder="Search Here...">
            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
          </form>
        </div>
        <!--Navbar Collapse-->
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav ml-auto navbar-list">
            <li class="nav-item nav-icon">
              <a href="#">
                <i class="far fa-bell"></i>
                <span class="bg-primary dots"></span>
              </a>
            </li>
            <li class="nav-item nav-icon dropdown">
              <a href="#">
                <i class="far fa-envelope"></i>
                <span class="bg-primary dots"></span>
              </a>
            </li>
            <li class="nav-item nav-icon dropdown">
              <a href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="bg-primary dots"></span>
              </a>
            </li>
            <li class="line-height pt-3">
              <a id="user-profile" href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                <img id="profile-pic" src="https://www.pinclipart.com/picdir/big/157-1578186_isolation-gown-clipart.png"
                  alt="">
                <div class="caption">
                  <h6 class="mb-1 line-height text-dark">Osman MUTLU</h6>
                  <p class="mb-0 text-primary">$28.35</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
    <!-- Navbar End-->
    <!--Content Page Start-->
    <div id="content-page" class="content-page">
      <div class="container-fluid">
        <main role="main" class="pb-3" style="text-align:center;">
          <br><br>
          <h2>Page content fluid</h2>
          <hr>
          <br><br>
        </main>
      </div>
      <!-- Sayfa değişkenlerinin bulunacağı yer.-->
    </div>
    <!--Content Page End-->
  </div>
  <footer class="border-top footer text-muted">
    <div class="container">
      <p class="footer-text">&copy; 2021 - Book Store - <a asp-area="" asp-controller="Home"
          asp-action="Privacy">Privacy</a></p>

    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="site.js"></script>
  <script>

  </script>
</body>

</html>