<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home - Book Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <!--Sidebar Start -->
    <div id="sidebar">
      <div class="sidebar-logo d-flex justify-content-between">
        <!--Sidebar Logo and Title -->
        <a href="#" class="header-logo">
          <i class="fas fa-book-reader fa-2x"></i>
          <div class="logo-title">
            <span class="text-primary text-uppercase">Book Store</span>
          </div>
        </a>
        <!--Sidebar Wrapper Menu Button -->
        <div class="menu-bt-sidebar">
          <div class="menu-bt align-self-center">
            <div class="wrapper-menu">
              <div class="main-circle">
                <i class="fas fa-bars"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Sidebar Nav-->
      <div id="sidebar-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <div class="scroll-content" style="transform: translate3d(0px, 0px, 0px);">
          <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
              <li class="active active-menu">
                <a href="#" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true">
                  <span class="ripple rippleEffect"></span><i class="fas fa-shopping-cart"></i><span>Shop</span><i
                    class="ri-arrow-right-s-line iq-arrow-right"></i>
                </a>
                <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li class="active"><a href="#"><i class="fas fa-home"></i>Home Page</a></li>
                  <li><a href="#"><i class="fas fa-th-large"></i>Category Page</a></li>
                  <li><a href="#"><i class="fas fa-book"></i>Book Page</a></li>
                  <li><a href="#"><i class="fas fa-file-pdf"></i>Book PDF</a></li>
                  <li><a href="#"><i class="fas fa-shopping-basket"></i>Checkout</a></li>
                  <li><a href="#"><i class="fas fa-heart"></i>wishlist</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <span class="ripple rippleEffect"></span><i class="ri-admin-line"></i><span>Admin</span><i
                    class="ri-arrow-right-s-line iq-arrow-right"></i>
                </a>
                <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a href="#"><i class="ri-dashboard-line"></i>Dashboard</a></li>
                  <li><a href="#"><i class="ri-list-check-2"></i>Category Lists</a></li>
                  <li><a href="#"><i class="ri-file-user-line"></i>Author</a></li>
                  <li><a href="#"><i class="ri-book-2-line"></i>Books</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <span class="ripple rippleEffect"></span><i
                    class="las la-user-tie iq-arrow-left"></i><span>User</span><i
                    class="ri-arrow-right-s-line iq-arrow-right"></i>
                </a>
                <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li><a href="#"><i class="fas fa-id-card-alt"></i>User Profile</a></li>
                  <li><a href="#"><i class="fas fa-edit"></i>User Edit</a></li>
                  <li><a href="#"><i class="fas fa-plus-circle"></i>User Add</a></li>
                  <li><a href="#"><i class="fas fa-th-list"></i>User List</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="scrollbar-track scrollbar-track-x" style="display: none;">
          <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 260px; transform: translate3d(0px, 0px, 0px);">
          </div>
        </div>
        <div class="scrollbar-track scrollbar-track-y" style="display: block;">
          <div class="scrollbar-thumb scrollbar-thumb-y"
            style="height: 764.883px; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
      </div>
    </div>
    <!-- Sidebar End-->
    <!-- Navbar Start-->
    <div id="navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="menu-bt d-flex align-items-center">
          <!--Navbar Wrapper Menu -->
          <div class="wrapper-menu">
            <div class="main-circle">
              <i class="fas fa-bars"></i>
            </div>
          </div>
          <!--Navbar Title and Logo -->
          <div class="navbar-logo d-flex justify-content-between">
            <a href="#" class="header-logo">
              <i class="fas fa-book-reader fa-2x"></i>
              <div class="logo-title">
                <span class="text-primary text-uppercase">Book Store</span>
              </div>
            </a>
          </div>
        </div>
        <!--Search bar-->
        <div id="search-bar" class="search-bar">
          <form action="#" class="searchbox">
            <input type="text" class="text search-input" placeholder="Search Here...">
            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
          </form>
        </div>
        <!--Navbar Collapse-->
        <div id="navbar-collapse" style="width:300px;">

        </div>
      </nav>

    </div>
    <!-- Navbar End-->
    <!--Content Page Start-->
    <div id="content-page" class="content-page"> 
      <div class="container-fluid">
        <main role="main" class="pb-3" >
          <h1>Main Page</h1>
        </main>
      </div>
      <!-- Sayfa değişkenlerinin bulunacağı yer.-->
    </div>
    <!--Content Page End-->
  </div>
  <footer class="border-top footer text-muted">
    <div class="container">
      <p class="footer-text">&copy; 2021 - Book Store - <a asp-area="" asp-controller="Home"
          asp-action="Privacy">Privacy</a></p>

    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="site.js"></script>

</body>

</html>