@{
    ViewData["Title"] = "Home Page";
}
<div id="index">
    <div class="row">
        <div class="col-lg-12 slider">
            <div class="card-carousel">
                @if (Model != null)
                {
                    @for(int i=0;i<Model.Count;i++)
                    {
                        var book = Model[i];
                        string img_source = book.Name.Replace(" ", "-").ToLower();
                        img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg";

                        
                        <div class="slider-card" style="left:-90px;">
                            <img class="img-fluid rounded w-100" src="~/images/book-images/@img_source" alt="">
                            <div class="book-img-overlay">
                                <a class="btn btn-sm btn-primary" href="book/@book.ID">Read Now!</a>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Browse Books
                        </h4>
                    </div>
                    <div class="category-header-btn d-flex align-items-center">
                        <a asp-action="category" class="btn btn-primary view-more">View More</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        @if (Model != null)
                        {
                            @foreach (var book in Model)
                            {
                                string img_source = book.Name.Replace(" ", "-").ToLower();
                                img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg";

                                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                                    <div class="card-book" style="height: calc(100% - 30px);">
                                        <div class="card-book-body p-0">
                                            <div class="d-flex align-items-center">
                                                <div id="book-img" class="col-6 p-0 position-relative image-overlap-shadow">
                                                    <a href="book/@book.ID" >
                                                        <img class="img-fluid rounded w-100" src="~/images/book-images/@img_source
                                                    " alt="">
                                                        <div class="book-img-overlay">
                                                            <div class="icon">
                                                                <i class="fas fa-shopping-basket"></i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-2">
                                                        <h6 class="mb-2 font-weight-bold"> @book.Name</h6>
                                                        <p class="font-size-13 line-height mb-1">@book.Author</p>
                                                    </div>
                                                    <div class="rating">
                                                        @for (int i = 0; i < book.Rating; i++)
                                                        {
                                                            <i class="fas fa-star" style="color: #ffba68"></i>
                                                        }
                                                    </div>
                                                    <div class="price d-flex align-items-center">
                                                        <span class="pr-1 old-price">$100</span>
                                                        <h6>
                                                            <b>$89</b>
                                                        </h6>
                                                    </div>
                                                    <div class="product-action">
                                                        <a href="">
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </a>
                                                        <a href="" class="ml-2">
                                                            <i class="fas fa-heart" style="color:red;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 featured-books">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Featured Books
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-5 pr-0">
                            <a asp-action="bookpage">
                                <img class="img-fluid rounded w-100" src="~/images/book-images/01.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-sm-7 mt-3 mt-sm-0">
                            <h4 class="mb-2">Casey Christie night book into find...</h4>
                            <p class="mb-2">Author: Gheg origin</p>
                            <span class="text-dark mb-3 d-block">Lorem Ipsum is simply dummy test in find a of the printing and typeset ing industry into end.</span>
                            <a asp-action="bookpage" class="btn btn-primary learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Featured Author
                        </h4>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Favorite Reads
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div id="favorites-slider" class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <ul class="slick-track p-0">
                                @for (int i = 0; i < 6; i++)
                                {
                                    <li class="col-md-4 slick-slide" style="width: 712px;">
                                        <div class="d-flex align-items-center">
                                            <div class="col-5 p-0 position-relative">
                                                <a href="#">
                                                    <img class="img-fluid rounded w-100" src="~/images/book-images/01.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <h5 class="mb-2">Casey Christie night book into find...</h5>
                                                <p class="mb-2">Author : Michael klock</p>
                                                <div class="d-flex justify-content-between align-items-center text-dark font-size-13">
                                                    <span>Reading</span>
                                                    <span class="mr-4">78%</span>
                                                </div>
                                                <a class="text-dark read-now-btn" href="#">Read Now<i class="fas fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>