@{ ViewData["Title"] = "Register Page";
    Layout = "_LoginLayout"; }

<div class="row no-gutters height-self-center">
    <div class="col-sm-12 align-self-center page-content rounded">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="sign-in-from bg-primary rounded">
                    <h3 class="mb-0 text-center text-white">Sign up</h3>
                    <p class="text-center text-white">Enter your email address and password to access panel.</p>
                    <form class="mt-4 form-text">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" class="form-control mb-0" id="InputName" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="InputSurname">Surname</label>
                            <input type="text" class="form-control mb-0" id="InputSurname" placeholder="Enter your surname">
                        </div>
                        <div class="form-group">
                            <label for="InputUsername">Username</label>
                            <input type="text" class="form-control mb-0" id="InputUsername" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control mb-0" id="InputEmail" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="InputBday">Birtday</label>
                            @{ String today = DateTime.Today.ToString("yyyy-MM-dd"); }
                            <input type="date" class="form-control mb-0" id="InputBDay" max="@today">
                        </div>
                        <div class="form-group">
                            <label for="InputPhoneNumber">Phone Number</label>
                            <input type="text" class="form-control mb-0 phoneNumber" id="InputPhoneNumber" placeholder="Enter your phone number">
                        </div>

  
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control mb-0" id="InputPassword" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="InputPasswordAgain">Password Again</label>
                            <input type="password" class="form-control mb-0" id="InputPasswordAgain" placeholder=" Enter your password again">
                        </div>
                        <div class="sign-info text-center">
                            <button type="submit" class="btn btn-white d-block w-100 mb-2">Sign up</button>
                            <span class="text-dark dark-color d-inline-block line-height-2">Do you have an account? <a href="login" class="text-white">Sign in</a></span>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
