body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,.03);
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
p{
    font-weight:400!important;
}
h6{
    font-size:18px;
}
div {
    display: block;
}
.font-size-12{
    font-size:12px;
}
.line-height{
    line-height:normal!important;
}

.text-primary {
    color: #76c3d7 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}
.bg-primary {
    background-color: #76c3d7 !important;
}
.btn-primary {
    background-color: #76c3d7;
    border: none;
}

    .btn-primary:hover {
        background-color: inherit;
        color: #76c3d7;
        border: none;
    }

a {
    color: initial;
    text-decoration: none !important;
    background-color: transparent;
}

    a:hover {
        color: initial;
        text-decoration: none !important;
    }

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

#search-bar {
    padding: 0 15px;
}

    #search-bar .searchbox {
        width: 330px;
        position: relative;
    }

    #search-bar .search-input {
        width: 100%;
        height: 40px;
        padding: 5px 15px 5px 40px;
        font-size: 13px;
        border-radius: 5px;
        border: none;
        outline: medium none !important;
        box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
    }

/* NavBar */
#navbar {
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0px 15px;
    justify-content: space-between !important;
    position: relative;
    position: fixed;
    top: 0;
    min-height: 73px;
    z-index: 99;
    width: 100%;
    background: #fbfcff;
    display: inline-block;
    border-bottom: 1px solid #ededf0;
    transition: all 0.45s ease 0s;
}

    #navbar .navbar-expand-lg {
        justify-content: space-between !important;
    }

    #navbar .navbar-collapse {
        flex-grow: unset;
    }

    #navbar .navbar-nav .nav-item i {
        font-size: 1.1rem;
        color: rgb(119, 125, 116) !important;
    }

    #navbar .navbar-nav .nav-item:hover i {
        color: #76c3d7 !important;
    }
    #navbar .user-profile-dropdown {
        width: 350px;
        left:-130px;
    }
        #navbar .user-profile-dropdown .sub-card {
            padding: 15px;
            line-height: normal;
            display:inline-block;
            width:100%;
            border-bottom: 1px solid #fbfcff;
        }
        #navbar .user-profile-dropdown .sub-card .card-icon {
            width: 38px;
            height: 38px;
            line-height: 30px;
            font-size: 25px;
            margin-left: 20px;
        }
    #navbar .user-profile-dropdown .sub-card div {
        border-radius:5px 5px 0 0;
    }
        


/* Wrapper Menu */
.wrapper-menu {
    font-size: 30px;
    text-align: center;
    line-height: 15px;
    color: #76c3d7 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: transparent;
    padding: 12px 0px;
    margin-right: 15px;
}

/* Navbar Logo */
.navbar-logo a {
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
}
.logo-title{
    white-space: nowrap;
}

.navbar-logo a span {
    font-family: 'Anton', cursive;
    margin-left: 10px;
    line-height: 45px;
    font-size: 28px;
    line-height: 35px;
    padding-left: 1px;
    letter-spacing: 1.5px;
    font-weight: 600;
    flex: 1;
}

.navbar-logo i {
    color: #76c3d7;
    height: 45px;
}
/* Navbar Lists*/
.nav-item {
    margin: 25px 10px;
    float: left;
    position: relative;
}

#user-profile {
    padding-left: 15px;
}

#profile-pic {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.caption {
    font-size: 14px;
    float: right;
}
/* Sidebar */
#sidebar {
    font-weight: 700;
    font-size: 1.4rem;
    width: 320px;
    height: 100%;
    left: 0;
    z-index: 999;
    top: 0px;
    padding-top: 15px;
    position: fixed;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

    #sidebar ul {
        list-style-type: none;
    }

    #sidebar.clicked {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        visibility: visible;
    }
.sub-menu-items{
    display:none;
}
.sub-menu-items.clicked{
    display:block;
}
.sidebar-logo {
    margin-top: 11px;
    padding-left: 15px;
}

    .sidebar-logo a {
        color: #76c3d7;
        display: flex;
        align-items: flex-start;
        font-size: 20px;
    }

        .sidebar-logo a span {
            font-family: 'Anton', cursive;
            margin-left: 10px;
            line-height: 45px;
            font-size: 28px;
            line-height: 35px;
            padding-left: 1px;
            letter-spacing: 1.5px;
            font-weight: 600;
            flex: 1;
        }

.sidebar .sidebar-logo {
    
    float: none;
    width: 100%;
    padding-top: 0;
    background: transparent;
    position: relative;
}

.sidebar-menu {
    position: relative;
}

#sidebar-content {
    height: 100vh;
}

#sidebar #sidebar-content {
    margin-top: 15px;
}

#sidebar-content {
    margin: 10px 0px;
}

    #sidebar-content li i {
        margin: 20px 0px;
        margin-right:10px;
        width:30px;
    }

    #sidebar-content li a {
        font-size: 1.5rem;
        color: rgb(119, 125, 116);
    }

        #sidebar-content li a:hover {
            color: #76c3d7;
            transition: color 0.8s;
        }

/* Content page */
.content-page {
    padding: 125px 15px 0px 15px;
}

#content-page .container-fluid {
    height: auto;
}

/* Footer */
.footer-text {
    text-align: center;
}
    .footer-text a {
        color: #76c3d7;
    }
    .footer-text a:hover {
        color: initial;
    }
/* Index Page */

.col-6 {
    padding: 0 15px;
}

.col-lg-12 {
    padding: 10px 15px;
}

.product-action i {
    color: #76c3d7;
}
.card{
    margin-bottom:30px;
}
/* Slider */
.slider {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;
}

    .card-carousel .slider-card {
        height: auto;
        width: 12rem;
        position: relative;
        z-index: 1;
        -webkit-transform: scale(0.6) translateY(-1.2rem);
        transform: scale(0.6) translateY(-1.2rem);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 1s;
    }
        .card-carousel .slider-card.active:hover .book-img-overlay {
            opacity: 0.8;
        }

        .card-carousel .slider-card .img-fluid {
            height: 19rem;
            min-height: 150px;
            min-width: 100px;
        }

        .card-carousel .slider-card:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            bottom: -5rem;
            -webkit-filter: blur(4px);
            filter: blur(4px);
        }

        .card-carousel .slider-card.active {
            z-index: 3;
            -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
            opacity: 1;
            pointer-events: auto;
            transition: 1s;
        }

        .card-carousel .slider-card.prev,
        .card-carousel .slider-card.next {
            z-index: 2;
            -webkit-transform: scale(0.9) translateY(-0.6rem) translateX(0);
            transform: scale(0.9) translateY(-0.6rem) translateX(0);
            opacity: 1;
            pointer-events: auto;
            transition: 1s;
        }

@media (min-width:800px) {
    .card-carousel .slider-card.tempprev,
    .card-carousel .slider-card.tempnext {
        z-index: 2;
        -webkit-transform: scale(0.8) translateY(-1.2rem) translateX(0);
        transform: scale(0.8) translateY(-1.2rem) translateX(0);
        opacity: 1;
        pointer-events: auto;
        transition: 1s;
    }
}

@media (min-width:1150px) {
    .card-carousel .slider-card.tempprev-2,
    .card-carousel .slider-card.tempnext-2 {
        z-index: 2;
        -webkit-transform: scale(0.7) translateY(-1.4rem) translateX(0);
        transform: scale(0.7) translateY(-1.4rem) translateX(0);
        opacity: 1;
        pointer-events: auto;
        transition: 1s;
    }
}

.card {
    border-radius: 5px;
    border: none !important;
    outline: medium none !important;
    box-shadow: 0px 4px 20px 0px rgba(44, 101, 144, 0.1);
}

.card-header {
    background-color: inherit;
}
h4.card-title{
    font-weight:700!important;
}
.book-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.4s;
}

#book-img:hover .book-img-overlay {
    opacity: 0.8;
}

.book-img-overlay i {
    font-size: 3rem;
    color: #76c3d7;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.book-img-overlay .btn {
    font-size: 1.5rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.read-now-btn {
    text-decoration: underline !important;
}
/* Category Page */
.list-inline li {
    margin-left: 10px;
}
/* checkout page */
li.checkout-product {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--iq-border-light);
    padding-bottom: 25px;
}

    li.checkout-product:last-child {
        margin-bottom: 5px;
        border-bottom: none;
        padding-bottom: 0;
    }
#quantity {
    display: inline-block;
    width: 30px;
    height: 28px;
    border: 1px solid #ededf0;
    text-align: center;
}

.qty-btn {
    border: 1px solid #ededf0;
    background: var(--iq-white);
    height: 28px;
    width: 30px;
    vertical-align: top;
}

.form-add-btn {
    margin-bottom: 20px;
}
/* Login page */
.sign-in-from {
    padding: 30px;
    position: relative;
    margin: 50px;
    width: 50%;
    margin: 0 auto;
}

.height-self-center {
    height: 100vh;
    border-radius: 5px;
}